{% extends "admin/base.html" %}

{% block title %}{% if is_new %}Uusi organisaatio{% else %}Muokkaa {{ target_org.name }}{% endif %} · Pindora PMS{% endblock %}

{% block content %}
  <h1>{% if is_new %}Luo organization{% else %}Muokkaa <code>{{ target_org.name }}</code>{% endif %}</h1>

  {% if error %}<div class="error">{{ error }}</div>{% endif %}

  <form method="post">
    {{ form.hidden_tag() }}
    {{ form.name.label }}
    {{ form.name(required=true) }}

    <div class="actions">
      <button type="submit">{% if is_new %}Luo{% else %}Tallenna{% endif %}</button>
      <a href="{{ url_for('admin.organizations_list') }}">Peruuta</a>
    </div>
  </form>
{% endblock %}
